@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    position: fixed;
    top:0; left: 0; right:0;
    z-index: 1000;
    display: flex;
    padding: 0px 15px;
    align-items: center;
    justify-content: space-between;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
.navbar .logo{
    width: 150px;
}
nav{
    flex: 1;
    text-align: center;
}

nav ul{
    display: inline-block;
    list-style-type: none;
    text-align: center;
}
nav ul li{
    display: inline-block;
    margin: auto;
}
nav ul li a{
    text-decoration: none;
    margin: 10px;
    color: #555;
}
nav ul li a:hover{
    color: #fff;
    background-color: #ff3838;
    padding: 8px;
    border-radius: 6px;
    height: 3px;
}
.navIcon a img{
  
    padding-right: 15px;
    display: inline-block;
}
.signupBtn{
    margin-left: 20px;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin-top: 120px;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.block_div{
    background-color: #FFE6DF;
    height: 50px;
    width: 600px;
    border-radius: 50px;
    font-size: 18px;
}
.block_div p{
    padding-top: 12px;
    font-weight: 600;
    color: #3D316E;

}
.block_div p span{
   
    border-radius: 50px;
    background-color:#FF9168;
    padding: 13px 40px;
    margin-right: 15px;
    color: white;
}
.col-2 h1{
    font-size: 35px;
    line-height: 60px;
    margin: 25px 0;
    padding-top: 40px;
}
.btn{
    display: inline-block;
    background: #FF0000;
    color: #fff;
    padding: 8px 20px;
    margin: 30px 0;
    border-radius: 10px;
    transition: background 0.5s;
    text-decoration: none;
}
.btn:hover{
    background: #563434;
}
.innerRow{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.innerCol-3{
    flex-basis: 33%;
    min-width: 100px;
    text-align: justify;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
    max-height: 50%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
}
.titleAndnextPage{
    margin-bottom: 35px;
}
.small-container .row-2{
    text-align: center;
    margin-top: 40px;
}
#step2{
    color: #ff523b;
    padding: 5px;
}
.para{
    margin-top: 15px;
}
.title{
    text-align: left;
    margin-top: 80px;
    position: relative;
    line-height: 60px;
    color: #000;
}
.title span{
    color: #ff523b;
}
.page-btn{
    margin: 0 auto 40px;
    padding-top: 20px;
    text-align: right;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}
.small-container .image img{
    width: 100%;
    margin-top: 80px;
    margin-bottom: 30px;
    justify-content: space-around
}
.col-4{
    flex-basis: 22%;
    padding: 10px;
    min-width: 200px;
    background-color: #F0FFFF;
    margin-bottom: 50px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    transition: transform 0.5s;
    cursor: pointer;
}
.col-4 img{
    width: 100%;
}
.col-4:hover{
    transform: scale(1.1);
}
.rating .fa{
    color: #FFD700;
}
.price{
    margin-left: 70px;
    font-weight: bold;
    color: #FF0000;
}
.Blogs-title{
    margin-top: 40px;
    justify-content: center;
}
.Blogs-title span{
    color: #ff523b;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}
.col-3 h5{
    color: #FF0000;
    margin-top: 12px;
}
.col-3 h3{
    margin-top: 15px;
    cursor: pointer;
}
.col-3 small{
    margin-top: 15px;
}


/*-----------------Download Our App------*/

.service{
    display: flex;
    align-items: center;
    
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 80px;
    margin-bottom: 100px;
    text-align: center;
}
.service-5{
    flex-basis: 18%;
    padding: 10px;
    min-width: 150px;
    margin-bottom: 50px;
    
}
.service-5 img{
    width: 100%;
}
.service-5 h4{
    padding-bottom: 20px;
    text-align: center;
}

.application-download-section{
    background-color: #FFE6DF;
    width: 100%;
    margin-top: 200px;
    height: 400px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.app-msg{
    margin-left: 20px;
}
.download-msg{
    padding-left: 40px;
    width: 100%;
}
.sub-text{
    margin-left: 40px;
    padding-top: 10px;
}
.app-ui{
    justify-content: right;
    align-items: right;
    text-align: right;
    top: 0;
}
.app-ui img{
   width: 80%;
    top: 0;
}
.download-logo{
    display: flex;
    margin-top: 30px;
    margin-left: 40px;
}
.appstore a,.playstore a{
    cursor: pointer;
}
.appstore img{
    width: 180px;
    padding-left: 20px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    
}
.playstore img{
    width: 180px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
/*-----------------footer------------*/

.container-2{
	max-width: 1170px;
	margin:auto;
}
.footer-row{
	display: flex;
	flex-wrap: wrap;
}
.footer-col ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
    margin-top: 150px;
}

.footer-col{
   width: 22%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ff3838;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ff3838;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ff3838;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.footer-btn{
    display: flex;
    
}
.lower-footer{
    margin-top: 20px;
}
.footer .credit{
    padding-top: 20px;
    text-align: center;
    border-top: .2rem solid rgba(255,255,255,.7);
    font-weight: normal;
    letter-spacing: .1rem;
    color:#fff;
  }

  .footer .credit a{
    color:#FF0000;
    text-decoration: none;
  }


/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
  
